@charset "UTF-8";
body{
    background-color: #AEEACD;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #285A4E;
}
#principal{
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: 400;
    font-style: normal;
    color: #316147;
    background-color: rgba(162, 218, 191, 1);
    text-align: center;
}
h2{
    color: #3D5248;
}
.basico{
    color: rgb(70, 129, 70);
    font-weight: 700;
}
.intermediario{
    color: rgb(196, 172, 95);
    font-weight: 800;
}
.avancado{
    color: rgb(211, 117, 117);
    font-weight: 900;
}
.mark{
    background-color: rgba(157, 255, 0, 0.719);
}